.status {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.isOnline {
    background-color: green;

}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.avatar {
    width: 120px;
    height: auto;

}